
<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Welcome to the CheatPads.com Identity Server
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-2">
                    <img src="~/icon.jpg" />
                </div>
                <div class="col-sm-10">
                    <p>
                        Our Identity Server leverages OpenID technology and publishes a
                        <a href="~/.well-known/openid-configuration">discovery document</a>
                        where you can find metadata and links to all the endpoints, key material, etc.
                    </p>
                </div>
            </div>
           
        </div>
    </div>
    <p>
        <hr />
        <i>
            Developed using Thinktecture Identity Server 4 available on
            <a href="https://github.com/identityserver/IdentityServer4">Github</a>.
        </i>
    </p>
</div>
